.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right_img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.preview___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  align-self: center;
}
.preview___fighter-health{
  color: red;
  font-weight: bold;
}
